<%- include('./templates/header') %> 
    <main class="container my-5">
        
        <article>
            <h1 class="text-center mb-5" ><%= servicio.nombre %> </h1>
            <p><%= servicio.comentario %> </p>
        </article>
    </main>
<%- include('./templates/footer') %> 